[Unit]
Description=Klumba Operator Tg Bot Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/root/klumba_operator_bot
ExecStart=/usr/bin/env python3 /root/klumba_operator_bot/main.py

[Install]
WantedBy=multi-user.target